@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

* {
  font-family: 'Poppins', sans-serif;
}

.product-button {
  width: 150px;
  height: 40px;
  line-height: 1;
}

.carousel-nav {
  pointer-events: none;
}

.carousel-nav button {
  pointer-events: auto;
}